body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  line-height: 1.5; /* Improved line spacing for readability */
}

/* Container styles */
.container {
  padding-left: 6%;
  padding-right: 6%;
}

/* Reading and Response styles */
.reading,
.responsorial {
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}


.content {
  text-align: justify;
  margin-top: 10px;
  font-size: 16px; /* Adjust font size as needed for readability */
}

