/* Header styles within Reading and Response */
.header {
  display: flex;
  justify-content: space-between;
}

/* Individual Reading and Response text styles */
.title {
  text-align: left;
  margin: 0;
}

.verse {
  text-align: right;
  margin: 0;
}


.summary {
  text-align: center;
  margin: 0;
  font-style: italic;
}